%h1 Ma page d'accueil !
#posts
    - @posts.each do |post|
        .post
            %h2.title= link_to post.title, post
            %p.date
                Publié il y a
                = time_ago_in_words(post.created_at)
                par
                = post.user.email
